*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-size: 2rem;
  font-family: "Almarai", sans-serif;
  overflow-y: hidden;
}

body {
  background: #f1f0f6;
  min-height: 100vh;
  width: 100%;
  color: #251B37;
}

.header {
  width: 100%;
  height: 7.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #8093a6;
  /*border-radius: 0rem 0rem 0.5rem 0.5rem;

  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;*/
}
.header__figure {
  width: 15rem;
  height: 15rem;
  margin-top: 1rem;
}
.header__figure--logo {
  width: 100%;
  height: 100%;
}
.header__list {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
}
.header__list--item {
  list-style: none;
}
.header__list--item--link {
  text-decoration: none;
  font-weight: 700;
  color: #fff3f4;
  position: relative;
  transition: 0.5s;
}
.header__list--item--link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.2rem;
  bottom: 0;
  left: 0;
  background-color: #ffc862;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  z-index: -1;
}
.header__list--item--link:hover {
  color: #251B37;
}
.header__list--item--link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.header__input {
  display: flex;
  gap: 1.5rem;
  cursor: pointer;
  align-items: center;
  font-size: 2rem;
}
.header__input--logo {
  position: relative;
  color: #fff3f4;
}
.header__input--logo::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.2rem;
  bottom: 0;
  left: 0;
  background-color: #ffc862;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  z-index: -1;
  bottom: -20%;
}
.header__input--logo:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.header__input--field {
  background: none;
  border: none;
  border-bottom: 0.2rem solid #ffc862;
  padding: 0.2rem;
  width: 0%;
  transition: 0.4s;
  color: #fff3f4;
  font-size: 1.75rem;
  opacity: 0;
}
.header__input--field:focus {
  outline: none;
  width: 100%;
  border-bottom: 0.4rem solid #ffc862;
  opacity: 1;
}

@media screen and (max-width: 50rem) {
  .header {
    gap: 4rem;
    font-size: 80%;
    justify-content: center;
    padding-left: 4rem;
  }
  .header__figure {
    display: none;
  }
}
@media screen and (max-width: 37.5rem) {
  .header {
    font-size: 80%;
    padding: 0;
  }
  .header__input {
    display: none;
  }
}
@media screen and (max-width: 23.5rem) {
  .header {
    padding: 0;
    font-size: 60%;
  }
}
.footer {
  width: 100%;
  min-height: 7.5rem;
  background: #8093a6;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer__list {
  display: flex;
  gap: 2rem;
}
.footer__list--item {
  list-style: none;
}
.footer__list--item--link {
  text-decoration: none;
  font-weight: 700;
  font-size: 90%;
  color: #fff3f4;
  position: relative;
  transition: 0.5s;
}
.footer__list--item--link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.2rem;
  bottom: 0;
  left: 0;
  background-color: #ffc862;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  z-index: -1;
}
.footer__list--item--link:hover {
  color: #251B37;
}
.footer__list--item--link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.footer__socials {
  display: flex;
  gap: 3.5rem;
  font-size: 180%;
}
.footer__socials--link {
  color: #fff3f4;
  position: relative;
  transition: 0.5s;
}
.footer__socials--link:hover {
  color: #251B37;
}
.footer__nieuwsbrief {
  border-bottom: 0.25rem solid #ffc862;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.5rem;
}
.footer__nieuwsbrief--header {
  color: #fff3f4;
}
.footer__nieuwsbrief--input {
  border: none;
  border-radius: 0.4rem;
  padding-left: 0.5rem;
  background: #f1f0f6;
  color: #8093a6;
  transition: 0.25s;
  width: 100%;
  height: 2rem;
}
.footer__nieuwsbrief--input:focus {
  outline: 0.2rem solid #ffc862;
}

@media screen and (max-width: 50rem) {
  .footer {
    font-size: 70%;
  }
}
@media screen and (max-width: 37.5rem) {
  .footer {
    font-size: 100%;
    flex-direction: column;
    padding: 2rem;
  }
}
@media screen and (max-width: 23.5rem) {
  .footer {
    font-size: 100%;
  }
  .footer__list {
    flex-direction: column;
    margin-bottom: 1rem;
  }
}
.main {
  min-height: 90vh;
  width: 100%;
  position: relative;
}
.main__menu {
  min-width: 30rem;
  max-width: 60rem;
  min-height: 37.5rem;
  background: #8093a6;
  position: absolute;
  left: 10%;
  top: 10%;
  list-style: none;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 2;
}
.main__menu--item--textfield {
  display: flex;
  flex-direction: row;
}
.main__menu--item--textfield--header {
  border: none;
  background: none;
  color: #251B37;
  background: none;
  font-size: 125%;
  padding: 2rem;
  border-radius: 0.25rem;
  transition: 0.2s;
  cursor: pointer;
}
.main__menu--item--textfield--header:active {
  background-color: #eee;
}
.main__menu--item--textfield--header:hover {
  background-color: #eee;
}
.main__menu--item--textfield--text {
  display: none;
}
.main__text {
  min-height: 90vh;
  justify-content: center;
  display: flex;
  margin: 10rem;
  gap: 4rem;
}
.main__text--2 {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.main__text--menuInfo {
  width: 30rem;
  height: 37.5rem;
  background: rgba(128, 147, 166, 0.3725490196);
  list-style: none;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.main__text--art {
  min-height: 90vh;
  width: 50%;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.main__text--art--h2 {
  font-size: 200%;
}
.main__text--art--header {
  font-size: 100%;
}
.main__text--art--para {
  margin-bottom: 2rem;
  margin-top: -2rem;
}
.main__text--art--ul {
  list-style: none;
}
.main__text--art--li {
  margin-top: 0.3rem;
}
.main__text--art--li::before {
  content: "-";
  margin-right: 0.5rem;
}
.main__text--art--link {
  text-decoration: none;
  position: relative;
  transition: 0.5s;
  color: #8093a6;
}
.main__text--art--link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.2rem;
  bottom: 0;
  left: 0;
  background-color: #ffc862;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  z-index: -1;
}
.main__text--art--link:hover {
  color: #251B37;
}
.main__text--art--link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.main__fig {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.main__fig--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main__fig--shade {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(74deg, rgb(128, 147, 166) 12%, rgb(37, 27, 55) 89%);
  opacity: 0.5;
  top: 0%;
  left: 0%;
}
.main__arts {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem;
  margin-left: 8rem;
}
.main__arts--art {
  min-height: 25rem;
  width: 50%;
  display: flex;
  gap: 2rem;
  border-bottom: 0.1rem solid #ffc862;
}
.main__arts--art--img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 0.125rem;
}
.main__arts--art--textfield {
  width: 75%;
  height: 100%;
}
.main__arts--art--textfield--header {
  font-size: 125%;
}
.main__arts--art--textfield--button {
  margin-top: 2rem;
  height: 3rem;
  width: 10rem;
  border: none;
  background: #251B37;
  color: #fff3f4;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: color 0.2s, background 0.2s;
}
.main__arts--art--textfield--button:hover {
  color: #251B37;
  background: #fff3f4;
}
.main__agenda {
  width: 30rem;
  min-height: 40rem;
  background: #8093a6;
  position: absolute;
  top: 50%;
  right: 10%;
  border-radius: 0.5rem;
  padding: 2rem;
  opacity: 0.8;
  transition: opacity 0.2s;
}
.main__agenda:hover {
  opacity: 1;
}
.main__agenda--activiteit--header {
  color: #fff3f4;
  font-size: 140%;
}
.main__agenda--activiteit--datum:hover {
  color: #251B37;
}
.main__agenda--activiteit--link {
  text-decoration: none;
  color: #251B37;
  transition: color 0.5s;
  cursor: pointer;
}
.main__agenda--activiteit--link:hover {
  color: #fff3f4;
}
.main__header {
  position: absolute;
  top: 45%;
  left: 22.5%;
  font-size: 300%;
  z-index: 2;
  color: #fff3f4;
}
.main__header--2 {
  left: 10%;
}
.main__header--index {
  left: 50%;
}

@media screen and (max-width: 57.813rem) {
  .main__arts {
    margin-left: 0;
  }
  .main__arts--art {
    width: 60%;
  }
  .main__text {
    margin: 1rem;
    font-size: 150%;
    flex-direction: column;
  }
  .main__text--art {
    width: 100%;
  }
  .main__text--2 {
    margin: 1rem;
    font-size: 150%;
    flex-direction: column;
  }
  .main__text--2--art {
    width: 100%;
  }
}
@media screen and (max-width: 53.125rem) {
  .main__arts {
    margin-left: 0;
    align-items: center;
  }
  .main__arts--art {
    width: 70%;
  }
  .main__agenda {
    position: initial;
    top: 0;
    right: 0;
    opacity: 1;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 37.5rem) {
  .main__arts {
    margin-left: 0;
    align-items: center;
  }
  .main__arts--art {
    width: 100%;
  }
  .main__menu {
    display: none;
  }
}
@media screen and (max-width: 23.5rem) {
  .main__arts {
    margin: 0;
  }
  .main__arts--art {
    width: 100%;
    flex-direction: column;
    padding-bottom: 1rem;
    align-items: center;
  }
}
.form {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.form__input {
  padding: 1rem;
  border: none;
  background: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  transition: 0.25s;
}
.form__input:focus {
  outline-width: 0;
  background: #eee;
  transform: translateY(0.05rem) scale(99%);
}
.form__input--verzend {
  width: 30%;
  margin-top: 2rem;
  transition: 0.4s;
  border-radius: 0.25rem;
  padding: 1.5rem;
}
.form__input--verzend:hover {
  background: #251B37;
  color: #fff3f4;
  cursor: pointer;
  transform: translateY(0.2rem) scale(98%);
}
.form__input--geb {
  font-family: "Almarai", sans-serif;
  width: 40%;
}
.form__select {
  padding: 0.25rem;
  border: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  width: 40%;
}
.form__label {
  font-weight: bold;
  margin-top: 1rem;
}
.form__keuze {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form__adres {
  display: flex;
  flex-direction: column;
  font-size: 60%;
}
.form__adres--stadpos {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}
.form__adres--stad, .form__adres--pos {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 53.125rem) {
  .form {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
