$maincolor: #8093a6;
$textcolor: #fff3f4;
$textcolorDark: #251B37;
$backgroundcolor:#f1f0f6;
$CTAColor:#ffc862;
$linear-gradient: linear-gradient(74deg, rgba(128,147,166,1) 12%, rgba(37,27,55,1) 89%); 

